body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #141414;
}
body, html {
	height: 100%;
}
img {
    vertical-align: middle;
}
.unselectable {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.condensed {
	/* font-family: 'Roboto Condensed', sans-serif; */
}
h1 {
	display: none;
}
/* Mobile navbar (sidebar button) */
.navbar {
	background-color: white;
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
	        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
	width: 100%;
	/* Stick to top of browser */
	position: fixed;
	top: 0;
	/* On top of page content */
	z-index: 1;
	/* Mobile styling */
	height: 60px;
}
.navbar-button {
	float: left;
	color: #141414;
	font-size: 24pt;
	text-align: center;
	width: 50px; 
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	margin: 5px;
	/* Animate background color on hover */
	background-color: white;
	-webkit-transition: background-color .15s;
	-o-transition: background-color .15s;
	transition: background-color .15s;
	/* Mobile styling */
	display: block;
}
.navbar-button:hover {
	cursor: pointer;
	background-color: #e6e6e6;
}
.navbar-logo {
	float: left;
	height: 100%;
}
.navbar-logo-image {
	height: 36px;
	padding-top: 12px;
	padding-bottom: 12px;
}
.navbar-logo-image:hover {
	cursor: pointer;
}
.navbar-link-container {
	height: 100%;
	float: right;
	margin-right: 20px;
}
.navbar-link {
	float: left;
	height: 100%;
	width: 100px;
	text-align: center;
	line-height: 100px;
	background-color: white;
	-webkit-transition: background-color .1s;
	-o-transition: background-color .1s;
	transition: background-color .1s;
	/* Mobile styling */
	display: none;
}
.navbar-link:hover {
	cursor: pointer;
	background-color: #e6e6e6;
}
.navbar-link-active {
	font-weight: 700;
	color: #006600;
}
.navbar-link-active-underline {
	position: absolute;
	bottom: 0;
	height: 5px;
	width: 100px;
	background-color: #006600;
}
/* Sidebar */
.sidebar {
	position: fixed;
	top: 0;
	width: 85%;
	left: -90%;
	background-color: white;
	height: 100vh;
	-webkit-box-shadow: 3px 0 5px 0 rgba(0, 0, 0, .1);
	        box-shadow: 3px 0 5px 0 rgba(0, 0, 0, .1);
	overflow-y: auto;
	/* Animate slide in */
	-webkit-transition: left 0.5s;
	-o-transition: left 0.5s;
	transition: left 0.5s;
	/* Position above */
	z-index: 3;
}
.sidebar-link {
	font-size: 14pt;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	-webkit-transition: background-color .1s;
	-o-transition: background-color .1s;
	transition: background-color .1s;
}
.sidebar-link:hover {
	background-color: #e6e6e6;
	cursor: pointer;
}
.sidebar-link-active {
	color: white;
	font-weight: 700;
	background-color: #006600;
}
.sidebar-link-active:hover {
	background-color: #006600;
}
.overlay {
	/* Cover screen */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Position behind menu */
	z-index: 2;
	/* Animate opacity when menu is opened*/
	background-color: black;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	/* Ignore cursor when not shown */
	pointer-events: none;
}
/* Page content */
.page {
	min-height: 100%;
	background-color: #f2f2f2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	flex-direction: column;
}
.page-content {
	align-self: flex-start;
	margin: auto;
	width: 780px;
	max-width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	justify-content: center;
	margin-top: 90px;
	margin-bottom: 20px;
}
.page-title {
	width: 350px;
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	color: #006600;
	font-weight: 700;
	/* Mobile styling */
	font-size: 18pt;
}
/* For positioning page title */
.page-title-spacer {
	width: 390px;
	max-width: 100%;
}
.page-entry {
	width: 350px;
	max-width: 100%;
	padding: 20px;
}
.page-image {
	max-width: 100%;
}
.page-image-caption {
	width: 100%;
	padding-top: 10px;
	font-style: italic;
	text-align: center;
}
/* Home page banner */
.banner {
	margin-top: 60px;
	width: 100%;
	flex-grow: 1;
	min-height: 70vh;
	position: relative;
	background-color: grey;
}
.banner-image {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: opacity 1.5s linear;
	pointer-events: none;
}
.hidden {
	opacity: 0;
}
.banner-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	font-size: 16pt;
	height: 70px;
	width: 35px;
	line-height: 70px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	/* Prevent highlighting */
	user-select: none;
}
.banner-button:hover {
	background-color: rgba(0, 0, 0, 0.75);
	cursor: pointer;
}
.banner-left-button {
	left: 0;
	border-radius: 0 35px 35px 0;
}
.banner-right-button {
	right: 0;
	border-radius: 35px 0 0 35px;
}
/* Footer */
.footer {
	color: #808080;
	background-color: #141414;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: auto;
}
.footer-entry {
	width: 100%;
	padding-left: 25px;
	padding-top: 25px;
}
.footer-entry-last {
	padding-bottom: 25px;
}
.footer-icon {
	display: inline-block;
	color: #808080;
	font-size: 16pt;
	text-align: center;
	margin-right: 15px;
	-webkit-transition: color .15s;
	-o-transition: color .15s;
	transition: color .15s;
}
.footer-icon:hover {
	cursor: pointer;
	color: #a6a6a6;
}
.footer a {
	color: #808080;
}
/* Text */
.regular-text {
	font-size: 10pt;
	line-height: 150%;
}
.small-text {
	font-size: 9pt;
	line-height: 140%;
}
.tiny-text {
	font-size: 7pt;
	line-height: 150%;
}
.padded-text {
	padding-bottom: 5px;
}
.contact-table {
	width: 100%;
	line-height: 125%;
	/* Mobile styling */
	font-size: 14pt;
}
.contact-cell {
	vertical-align: top;
	padding-bottom: 15px;
}
.contact-cell a {
	color: black;
	text-decoration: none;
}
.contact-cell a:hover {
	text-decoration: underline;
}
/* Gallery */
.gallery-container {
	width: 100%;
	margin-top: 90px;
}
.gallery-title {
	width: 100%;
	padding-bottom: 15px;
	padding-left: 20px;
	/* Mobile styling */
	font-size: 13pt;
}
/* https://css-tricks.com/adaptive-photo-layout-with-flexbox/ */
.gallery-entry {
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}
.gallery-image {	
	flex-grow: 1;
	/* Mobile styling */
	height: 20vh;
}
.gallery-image img {
	min-width: 100%;
	object-fit: cover;
	vertical-align: bottom;
	/* Mobile styling */
	height: 20vh;
}
.gallery-image:last-child {
	height: 0;
	/* Mobile styling */
	width: 100%;
}
.gallery-full-image {
	margin: auto;
	/* Mobile styling */
	max-height: 95%;
	max-width: 95%;	
}
.gallery-overlay {
	background-color: rgba(0, 0, 0, .5);
	display: flex;
	justify-content: center;
}
/* Desktop styling */
@media only screen and (min-width: 960px) {
	.navbar {
		height: 100px;
	}
	.navbar-button {
		display: none;
	}
	.navbar-link {
		display: block;
	}
	.navbar-logo-image {
		height: 60px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-left: 20px;
	}
	.footer-entry {
		width: auto;
		padding-bottom: 25px;
	}
	.page-content {
		margin-top: 140px;
	}
	.banner {
		margin-top: 100px;
		min-height: 480px;
	}
	.page-title {
		font-size: 24pt;
	}
	.gallery-title {
		font-size: 16pt;
	}
	.contact-table {
		font-size: 20pt;
	}
	.gallery-container {
		margin-top: 140px;
	}
	.gallery-image {
		height: 30vh;
	}
	.gallery-image img {
		height: 30vh;
	}
	.gallery-image:last-child {
		width: 0;
		flex-grow: 10;
	}
	.gallery-full-image {
		max-height: 85%;
		max-width: 85%;	
	}
}
