body {
	font-family: sans-serif; /* Font used in logo */
	margin: 0;
	padding: 0;
	background-color: #141414;
	overflow-x: hidden;
	overflow-y: scroll;
}
body, html {
	height: auto;
}
/* Navigation bar */
.navbar {
	height: 100px;
	width: 100%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3);
	border-top: 1px solid lightgrey;
	/* Stick to top of browser */
	position: -webkit-sticky; 
  	position: sticky;
	top: 0;
	/* Vertically align text */
	line-height: 100px;
	/* Prevent highlighting */
	user-select: none;
	/* On top of page content */
	z-index: 1;
}
.logo {
	float: left;
	/* Center image vertically */
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.logo:hover {
	cursor: pointer;
}
.logo-image {
	vertical-align: middle;
}
.tabs {
	padding-right: 20px;
	float: right;
	/* Not displayed on narrow screens */
	display: none;
	margin: 0;
}
.tab {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	/* Animate background color on hover */
	background-color: white;
	transition: background-color .15s;
}
.tab:hover {
	cursor: pointer;
	background-color: lightgrey;
}
/* Side menu */
.overflow-button {
	float: left;
	/* Text/button styling */
	font-size: 36px;
	line-height: 80px;
	text-align: center;
	/* Position within circle */
	width: 80px; 
	height: 80px;
	margin: 10px;
	border-radius: 50%;
	/* Animate background color on hover */
	background-color: white;
	transition: background-color .15s;
}
.overflow-button:hover {
	cursor: pointer;
	background-color: lightgrey;
}
.menu {
	background-color: #333333;
	height: 100%;
	width: 70%;
	overflow-x: hidden;
	/* Position off screen */
	position: fixed;
	top: 0;
	left: -70%;
	/* Animate slide in */
	transition: left 0.4s;
	/* Position above overlay and navbar */
	z-index: 3;
}
.menu-link {
	padding-left: 20px;
	width: 100%;
	/* Text styling */
	color: white;
	font-size: 18pt;
	line-height: 60px;
	/* Animate background color on hover */
	background-color: #333333;
	transition: background-color .1s;
}
.menu-link:hover {
	background-color: #595959;
	cursor: pointer;
}
/* Overlay used for side menu and gallery */
.overlay {
	/* Cover screen */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Position behind menu */
	z-index: 2;
	/* Animate opacity when menu is opened*/
	background:rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 0.4s;
	/* Ignore cursor when not shown */
	pointer-events: none;
	/* Align children in center (for gallery images) */
	display: flex;
	align-items: center;
	justify-content: center;
}
/* Desktop styling */
@media only screen and (min-width: 960px) {
	.logo {
		margin-left: 40px;
	}
	.tabs {
		display: block;
	}
	.overflow-button {
		display: none;
	}
}
/* Footer */
footer {
	padding: 30px 0px 30px 0px;
	color: #808080;
}
.footer-table {
	margin: auto;
}
.footer-entry {
	padding-left: 20px;
	padding-right: 20px;
	vertical-align: top;
}
.icon {
	margin: 5px 5px 0 1px;
	cursor: pointer;
}
/* Front page banner */
.banner {
	height: 70vh;
	max-height: 800px;
	position: relative;
}
.banner-image {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: opacity 1.5s linear;
	pointer-events: none;
}
.hidden {
	opacity: 0;
}
.banner-button {
	position: absolute;
	top: 50%;
	color: white;
	font-size: 24pt;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.5);
	/* Prevent highlighting */
	user-select: none;
}
.banner-button:hover {
	background-color: rgba(0, 0, 0, 0.75);
	cursor: pointer;
}
.banner-left-button {
	left: 0;
	border-radius: 0 10px 10px 0;
}
.banner-right-button {
	right: 0;
	border-radius: 10px 0 0 10px;
}
/* Page content */
.page {
	padding: 40px 30px 40px 30px;
	background-color: whitesmoke;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.page-entry {
	width: 100%;
	max-width: 867px;
	padding: 0 10px 0 10px;
}
.break {
	width: 100%;
	height: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: lightgrey;
}
.empty-break {
	width: 100%;
	height: 0;
}
.anchor {
	display: block;
	top: -120px;
	position: relative;
}
.page-item {
	vertical-align: text-top;
	display: inline-block;
	max-width: 400px;
	margin-right: 20px;
}
.page-image {
	max-height: 500px;
}
/* Text */
.small-text {
	font-size: 12px;
	line-height: 1.5;
}
.title-text {
	font-size: 20pt;
	font-weight: bold;
	padding-bottom: 5px;
}
.big-text {
	font-size: 56px;
	padding-bottom: 15px;
}
.highlight-text {
	color: #006600;
	font-weight: bold;
}
/* Buttons */
.button {
	background-color: #008000;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
}
.button:hover {
	background-color: #006600;
	cursor: pointer;
}
.button-container {
	text-align: center;
	margin-top: 15px;
}
/* Cards */
.card {
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
	width: min-content;
	margin-left: 10px;
	margin-right: 10px;
	transition: all .1s;
}
.card:hover {
	/* Translates slightly left/up on hover */
	transform: translate(-1px, -1px);
	cursor: pointer;
}
.card-text {
	padding: 30px;
}
/* Gallery */
.gallery-title {
	font-size: 16pt;
	line-height: 2;
}
.gallery-main-image {
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}
.gallery-image {
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
	transition: all .1s;
}
.gallery-image:hover {
	cursor: pointer;
	filter: brightness(110%);
}
.gallery-full-image {
	max-height: 90%;
	max-width: 90%;
}